@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

/* Mobiles and others */

/* layouts */
.container {
    display: grid;
    height: fit-content;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr auto;
    grid-template-areas:
        "header header"
        "controlPanel controlPanel"
        "map map"
        "info info";
}

.header {
    grid-area: header;
}

.map {
    grid-area: map;
}

.controlPanel {
    grid-area: controlPanel;
}

.info {
    grid-area: info;
}

/* div styles */
.header {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subject {
    font-size: 35pt;
    text-align: center;
    word-break: keep-all;
}

.subtitle {
    font-size: 25pt;
}

.description {
    margin-top: 10px;
    margin-left: 5px;
    font-size: 13pt;
}

.info {
    background-color: whitesmoke;
    color: grey;
    height: fit-content;
}

.main_button_container {
    display: flex;
    flex-direction: row;
}

/* Desktop and Laptops */
@media (min-width:768px) {

    button {
        width: fit-content;
        padding: 15px 30px;
        font-size: 15pt;
        font-weight: 700;
        border-radius: 10px;
    }

    .innerbutton:hover {
        transform: translate(0, -5px);
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    }

    /* dark theme */
    @media (prefers-color-scheme: dark) {}

    /* layouts */
    .container {
        display: grid;
        height: fit-content;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 2fr auto;
        grid-template-areas:
            "header header header"
            "map map controlPanel"
            "info info info";
    }

    .header {
        grid-area: header;
    }

    .map {
        grid-area: map;
    }

    .controlPanel {
        grid-area: controlPanel;
    }

    .info {
        grid-area: info;
    }

    /* div styles */
    .controlPanel {
        border-radius: 13px;
        background-color: aliceblue;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
        width: 70%;
        height: fit-content;
        justify-self: center;
        margin-bottom: 20px;
    }

    .header {
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .subject {
        font-size: 35pt;
        text-align: center;
        word-break: keep-all;
    }

    .subtitle {
        font-size: 25pt;
    }

    .description {
        margin-top: 10px;
        margin-left: 5px;
        font-size: 13pt;
    }

    .info {
        background-color: whitesmoke;
        color: grey;
        height: fit-content;
    }

    .main_button_container {
        display: flex;
        flex-direction: row;
    }

    #startInput {
        width: 80%;
    }

    #endInput {
        width: 80%;
    }
}
